<a href="https://colab.research.google.com/github/Tiagee0730/Project-2-Name-to-be-edited/blob/main/Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

1. Source of data [link text](https://www.kaggle.com/datasets/sagnik1511/car-insurance-data)

In [2]:
df = pd.read_csv('/content/Car_Insurance_Claim.csv')
df.head()

,ID,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
0,569520,65+,female,majority,0-9y,high school,upper class,0.629027,1.0,after 2015,0.0,1.0,10238,12000.0,sedan,0,0,0,0.0
1,750365,16-25,male,majority,0-9y,none,poverty,0.357757,0.0,before 2015,0.0,0.0,10238,16000.0,sedan,0,0,0,1.0
2,199901,16-25,female,majority,0-9y,high school,working class,0.493146,1.0,before 2015,0.0,0.0,10238,11000.0,sedan,0,0,0,0.0
3,478866,16-25,male,majority,0-9y,university,working class,0.206013,1.0,before 2015,0.0,1.0,32765,11000.0,sedan,0,0,0,0.0
4,731664,26-39,male,majority,10-19y,none,working class,0.388366,1.0,before 2015,0.0,0.0,32765,12000.0,sedan,2,0,1,1.0

2. This is a data set about insurance rates based on claims of similar demographics.

3. The target is the outcome

4. One row represents a person's demographics

5. This is a classification problem. Either they get insured or they don't.

In [4]:
df.shape

(10000, 19)

6. This data has 19 features

7. There are 10,000 rows in the dataset.

8. I do not see any challenges cleaning, exploring or modeling this dataset.

In [5]:
df_2 = pd.read_csv('/content/adult.csv')
df_2.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

1. Source of data [link text](https://www.kaggle.com/datasets/wenruliu/adult-income-dataset?resource=download)

2. This a data set of incomes of indiviuals based on their education, occupation and ages.

3. The target is income

4. One row represents a person

5. This is a regression problem

In [6]:
df_2.shape

(48842, 15)

In [ ]:
6. This data has 15 features

In [ ]:
7. There are 48842 rows in the dataset

8. There are some missing/inconsistent values I will have to address during cleaning. I do not forsee any issues arising during exploring or modeling.